.number_u{
    border: 1px solid black;
    height: 300px;
}
#second_border{
    border: 1px solid red;
    height: 300px;

}
div{
    border: 1px solid green;
    height: 300px;
    /* why here we getting two box  */
}