
/* comment command*/
/*
h2 {
    color:rgb(19, 196, 19);
    background-color: bisque;
}*/ we use comments here 
h4{
    color:blueviolet
}
 h3{
    color: blue;
    
}
div{
    color: chartreuse;
    background-color: rgba(31, 180, 180);
}